<?xml version="1.0"?>
<!--
/**
 * @category Mage
 * @package  Quafzi_PerformanceTweaks
 * @author   Thomas Birke <tbirke@netextreme.de>
 * @license  MIT
 */
-->
<config>
    <modules>
        <Quafzi_PerformanceTweaks>
            <version>0.1.0</version>
        </Quafzi_PerformanceTweaks>
    </modules>
    <global>
        <models>
            <quafzi_performancetweaks>
                <class>Quafzi_PerformanceTweaks_Model</class>
            </quafzi_performancetweaks>
        </models>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Quafzi_PerformanceTweaks />
            </modules>
        </suite>
    </phpunit>
</config>
