<?xml version="1.0"?>
<!--
/**
 * @category Mage
 * @package  Quafzi_PerformanceTweaks
 * @author   Thomas Birke <tbirke@netextreme.de>
 * @license  MIT
 * @see http://de.slideshare.net/ivanchepurnyi/magento-performance
 */
-->
<config>
  <modules>
    <Quafzi_PerformanceTweaks>
      <version>0.1.0</version>
    </Quafzi_PerformanceTweaks>
  </modules>
  <global>
    <models>
      <quafzi_performancetweaks>
        <class>Quafzi_PerformanceTweaks_Model</class>
      </quafzi_performancetweaks>
      <catalog_resource>
        <rewrite>
          <product_type_configurable_product_collection>Quafzi_PerformanceTweaks_Model_Catalog_Resource_Product_Type_Configurable_Product_Collection</product_type_configurable_product_collection>
        </rewrite>
      </catalog_resource>
      <eav>
        <rewrite>
          <entity_attribute_source_table>Quafzi_PerformanceTweaks_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
        </rewrite>
      </eav>
    </models>
    <events>
      <controller_action_layout_load_before>
        <observers>
          <remove_entity_id_from_layout_to_improve_cachability>
            <class>Quafzi_PerformanceTweaks_Model_Observer</class>
            <method>removeEntityIdFromLayout</method>
          </remove_entity_id_from_layout_to_improve_cachability>
        </observers>
      </controller_action_layout_load_before>
      <core_block_abstract_to_html_before>
        <observers>
          <enable_cms_block_caching>
            <class>Quafzi_PerformanceTweaks_Model_Observer</class>
            <method>enableCmsBlockCaching</method>
          </enable_cms_block_caching>
        </observers>
      </core_block_abstract_to_html_before>
      <sales_quote_collect_totals_before>
        <observers>
          <preload_price_rules>
            <class>Quafzi_PerformanceTweaks_Model_CatalogRule_Observer</class>
            <method>preloadPriceRules</method>
          </preload_price_rules>
        </observers>
      </sales_quote_collect_totals_before>
    </events>
  </global>
  <frontend>
    <events>
      <!-- disable Mage_Log -->
      <controller_action_predispatch>
        <observers>
          <log>
            <type>disabled</type>
          </log>
        </observers>
      </controller_action_predispatch>
      <controller_action_postdispatch>
        <observers>
          <log>
            <type>disabled</type>
          </log>
        </observers>
      </controller_action_postdispatch>
      <customer_login>
        <observers>
          <log>
            <type>disabled</type>
          </log>
        </observers>
      </customer_login>
      <customer_logout>
        <observers>
          <log>
            <type>disabled</type>
          </log>
        </observers>
      </customer_logout>
      <sales_quote_save_after>
        <observers>
          <log>
            <type>disabled</type>
          </log>
        </observers>
      </sales_quote_save_after>
      <checkout_quote_destroy>
        <observers>
          <log>
            <type>disabled</type>
          </log>
        </observers>
      </checkout_quote_destroy>
      <!-- disable Mage_Reports -->
      <catalog_product_compare_remove_product>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </catalog_product_compare_remove_product>
      <customer_login>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </customer_login>
      <customer_logout>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </customer_logout>
      <catalog_controller_product_view>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </catalog_controller_product_view>
      <sendfriend_product>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </sendfriend_product>
      <catalog_product_compare_add_product>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </catalog_product_compare_add_product>
      <catalog_product_compare_item_collection_clear>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </catalog_product_compare_item_collection_clear>
      <sales_quote_item_save_before>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </sales_quote_item_save_before>
      <wishlist_add_product>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </wishlist_add_product>
      <wishlist_share>
        <observers>
          <reports>
            <type>disabled</type>
          </reports>
        </observers>
      </wishlist_share>
    </events>
  </frontend>
  <phpunit>
    <suite>
      <modules>
        <Quafzi_PerformanceTweaks />
      </modules>
    </suite>
  </phpunit>
</config>
